*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  font-weight: 700;
  line-height: 1.5;
  place-items: center;
  font-size: 14px;
  width: 100%;
  line-height: 1.5;
  
}
.Nav {
display: flex;
justify-content: space-between;
background: hsl(219, 30%, 18%);
align-items: center;
padding: 4px 1.5rem;
}
.Nav .logo {
  width: 13%;
  height: 40px;
  margin-left: 30px;
}
nav ul {
  display: flex;
  list-style: none;
  margin-right: 30px; 
}
nav ul li{
  margin: 0 12px;
}
nav ul li a{
  color: hsl(0, 0%, 100%);
  padding: 8px 15px;
  letter-spacing: 1px;
  text-decoration: none;
}
.hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background : hsl(217, 28%, 15%)  url("./images/bg-curvy-desktop.svg") bottom no-repeat;
  color: #fff;
  background-size: 100% 270px;
}
h1,
p {
  font-weight: 700;
}
.hero img{
  width: 739;
  height:  533 ;
}
.hero h1{
  text-align: center;
  margin: 46px;
  width: 742px;
  font-size: 32px;
}
.hero p{
  width:742px;
  font-size: 22px;
  padding: 0 30px;
  text-align: center;
}
.hero button {
  width: 208px;
  padding: 20px 0;
  background-color: hsl(176, 68%, 64%);
  color: hsl(0, 0%, 100%);
  margin-bottom: 35px;
  margin: 30px 0;
  border: 50px;
  margin-left: 274px;
}
.Main{
  background-color: hsl(218, 28%, 13%);
  padding-bottom: 270px;

}
.product {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}


.product_details_card{
  width: 100%;
  margin-bottom: 40px;
}
.card-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 22%;
  
}
.hero-text{
  text-align: center;
  color: hsl(0, 0%, 100%);
  width: 90%;
}
.product_display {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.display-text {
  margin: 20px auto auto 30px;
  text-align: left;
  color: hsl(0, 0%, 100%);
  width: 50%;
  
}
.text-display {
  margin-top: 90px;
 
} 
.text-display p {
  margin-bottom: 20px;
 
} 
.display-link {
  color: hsl(176, 68%, 64%) 
}
.display-link :hover {
  color: hsl(0, 0%, 100%);
}
.advert {
  width: 70%;
  position: relative; 
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  margin-top: 50px;
}
.quotes{
  position: absolute;
  width: 36px;
  height: 36px;
  left: -8px;
  top: -22px
}
.advert-card{
  border: 1px solid hsl(219, 30%, 18%);
  background-color: hsl(219, 30%, 18%);
  width: 100%;
  max-width: 1160px;
  height: 196px;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  color: hsl(0, 0%, 100%);
  padding: 20px;
  z-index: 10;
}
.avatar {
  display: flex;
  margin-top: 10px;
}
.avatar-img{
  height: 13%;
  width: 13%;
  border-radius: 50%; 
}
.advert-text {
  margin-left: 9px;
  margin-top: -4px;
  align-items: left;
}
.search {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding: 50px 74px 40px 74px;
  border: 1px solid hsl(219, 30%, 18%);
  background-color: hsl(219, 30%, 18%);
  color: hsl(0, 0%, 100%);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -1891px;
}
.inputs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
} 
 input{
    width: 280px;
    padding: 10px;
    border-radius: 40px;
}
button {
  margin-left: 15px;
  border-radius: 40px;
  border: 1px solid hsl(176, 68%, 64%);
  background-color: hsl(176, 68%, 64%);
  padding: 10px;
  color: hsl(0, 0%, 100%); 
}
footer{
  background-color: hsl(216, 53%, 9%);
  padding: 130px 80px 80px 33px;
  display: flex;
  flex-direction: row;
  color: hsl(0, 0%, 100%);
}
.footer-logo{
  width: 50%;
  
}
.footer-location{
  display: flex;
  margin-top: 20px;
  width: 70%;
}
.footer-location .location {
  width: 10%;
  height: 10%;
}
.footer-location span {
  margin-left: 15px;
}
.footer-contact{
  margin-top: 70px;
  margin-left: 66px;
  width: 40%;
}
.footer-contact span{
  margin-left: 15px;
}
.footer-links {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-top: 60px;
  margin-left: 166px;
}
.footer-links a{
  color: hsl(0, 0%, 100%);
  text-decoration: none;

}
.footer-more-links {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-top: 70px;
  margin-left: 66px;
}
.footer-more-links a{
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}
@media screen and (max-width: 490px) {
  body {
    font-weight: 700;
    line-height: 1.0;
    place-items: center;
    font-size: 10px;
    width: 100%;
    font-weight: 400;
    
  }
  .Nav {
    display: flex;
    justify-content: space-between;
    background: hsl(219, 30%, 18%);
    align-items: center;
    padding:  0;
    }
    nav ul li{
      margin: 0 4px;
    }
  .hero img {
    width: 302px;
    height: 225px ;
  }
  .hero h1{
    width: 302px;
    height: 25px;
    font-size: 25px;
    
  }
  .hero p{
    margin-top: 65px;
    font-size: 12px;
    width: 369px;
    padding: 0px 23px;
  }
  .hero button {
    width: 242px;
    padding: 10px 0;
    margin-left: 60px;
  }
   
  .product {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
  .product_details_card{
    width: 100%;
    margin-bottom: 40px;
  }
  .display-text {
    margin: 20px auto auto 30px;
    text-align: left;
    color: hsl(0, 0%, 100%);
    width: 70%;
    
  }
  .product_display {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .advert {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  .advert-card{
   margin-bottom: 25px;
  }
  .search {
   
    padding: 90px 24px;
    width: 94%;
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
     top: 2663px;
   }
   .inputs {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-top: 20px;
     margin-bottom: 40px
     ;
   } 
  footer{
    background-color: hsl(216, 53%, 9%);
    padding: 81px 80px 49px 17px;;
    display: flex;
    flex-direction: column;
    color: hsl(0, 0%, 100%);
  }
  .footer-logo{
    width: 120%;
    
  }
  .footer-location{
    display: flex;
    margin-top: 20px;
    width: 50%;
  }
  .footer-contact{
    margin-top: 40px;
    margin-left: 0px;
    width: 80%;
  }
  .footer-links {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-top: 60px;
    margin-left: 0px;
  }
  .footer-more-links {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-top: 40px;
    margin-left: 0px;
  }
}