*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  font-weight: 700;
  line-height: 1.5;
  place-items: center;
  font-size: 14px;
  width: 100%;
  line-height: 1.5;
  
}
.Nav {
display: flex;
justify-content: space-between;
background: hsl(219, 30%, 18%);
align-items: center;
padding: 4px 1.5rem;
}
.Nav .logo {
  width: 13%;
  height: 40px;
  margin-left: 30px;
}
nav ul {
  display: flex;
  list-style: none;
  margin-right: 30px; 
}
nav ul li{
  margin: 0 12px;
}
nav ul li a{
  color: hsl(0, 0%, 100%);
  padding: 8px 15px;
  letter-spacing: 1px;
  text-decoration: none;
}
.hero {
  background: hsl(219, 30%, 18%);
  margin: auto;
}
.hero img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.hero_text {
  text-align: center;
  background-image: url("./images//bg-curvy-desktop.svg");
  background-position: center;
  background-size: 100% 270px;
  background-repeat: no-repeat;
  width: 100%;
  min-width: 100vh;
  margin-top: 5px;
 
 
}
.text {
  font-size: 32px;
  color: hsl(0, 0%, 100%);
  margin-bottom: 20px;
  width: 45%;
  margin: auto;  
}
.text2 {
  width: 35%;
  margin: auto;
  font-size: 14px;
  color: hsl(0, 0%, 100%);
  margin-bottom: 15px;
}
.hero button {
  padding: 14px;
  border-radius: 21px;
  width: 150px;
  background-color: hsl(176, 68%, 64%);
  color: hsl(0, 0%, 100%);
  margin-bottom: 15px;
  border: 1px solid hsl(176, 68%, 64%) ;
  margin-bottom: 45px;
}
.Main{
  background-color: hsl(218, 28%, 13%);
  padding-bottom: 270px;

}
.product {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}


.product_details_card{
  width: 75%;
  margin-bottom: 40px;
}
.card-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  
}
.hero-text{
  text-align: center;
  color: hsl(0, 0%, 100%);
}
.product_display {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.display-text {
  margin: 20px auto auto 30px;
  text-align: left;
  color: hsl(0, 0%, 100%);
  
}
.text-display {
  margin-top: 90px;
 
} 
.text-display p {
  margin-bottom: 20px;
 
} 
.display-link {
  color: hsl(176, 68%, 64%) 
}
.display-link :hover {
  color: hsl(0, 0%, 100%);
}
.advert {
  width: 70%;
  position: relative; 
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  margin-top: 50px;
}
.quotes{
  position: absolute;
  width: 36px;
  height: 36px;
  left: -8px;
  top: -22px
}
.advert-card{
  border: 1px solid hsl(219, 30%, 18%);
  background-color: hsl(219, 30%, 18%);
  width: 100%;
  max-width: 1160px;
  height: 196px;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  color: hsl(0, 0%, 100%);
  padding: 20px;
  z-index: 10;
}
.avatar {
  display: flex;
  margin-top: 10px;
}
.avatar-img{
  height: 13%;
  width: 13%;
  border-radius: 50%; 
}
.advert-text {
  margin-left: 9px;
  margin-top: -4px;
  align-items: left;
}
.search {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding: 50px 74px 40px 74px;
  border: 1px solid hsl(219, 30%, 18%);
  background-color: hsl(219, 30%, 18%);
  color: hsl(0, 0%, 100%);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -1723px;
}
.inputs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
} 
 input{
    width: 280px;
    padding: 10px;
    border-radius: 40px;
}
button {
  margin-left: 15px;
  border-radius: 40px;
  border: 1px solid hsl(176, 68%, 64%);
  background-color: hsl(176, 68%, 64%);
  padding: 10px;
  color: hsl(0, 0%, 100%); 
}
footer{
  background-color: hsl(216, 53%, 9%);
  padding: 130px 80px 80px 33px;
  display: flex;
  flex-direction: row;
  color: hsl(0, 0%, 100%);
}
.footer-logo{
  width: 30%;
  
}
.footer-location{
  display: flex;
  margin-top: 20px;
  width: 30%;
}
.footer-location .location {
  width: 10%;
  height: 10%;
}
.footer-location span {
  margin-left: 15px;
}
.footer-contact{
  margin-top: 70px;
  margin-left: 66px;
  width: 40%;
}
.footer-contact span{
  margin-left: 15px;
}
.footer-links {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-top: 60px;
  margin-left: 166px;
}
.footer-links a{
  color: hsl(0, 0%, 100%);
  text-decoration: none;

}
.footer-more-links {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-top: 70px;
  margin-left: 66px;
}
.footer-more-links a{
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}
@media screen and (max-width: 780px) {
  .hero_text {
    text-align: center;
    background-image: url("./images//bg-curvy-desktop.svg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    margin-top: 10px; 
  }
 
  .hero_text button {
    margin-bottom: -31px;
  }
  .text2 {
    margin-bottom: 4px;
  }
  .Main{
    padding-top: 90px;
  
  }
  .product_display{
    display: flex;
    flex-direction: column;
  }
  .advert {
    width: 70%;
    position: relative; 
    display: flex;
    flex-direction: column;
    margin-top: 105px;
  }
  .advert-card{
    width: 80%;
    margin-bottom: 50px;
    align-items: center;
    padding: 20px;
    z-index: 10;
  }
  .search { 
    position: absolute;
    top: 490%;
    z-index: 100;
  }
}
@media screen and (max-width: 490px) {
  body {
    font-weight: 700;
    line-height: 1.0;
    place-items: center;
    font-size: 14px;
    width: 100%;
    
  }
  .Nav {
    display: flex;
    justify-content: space-between;
    background: hsl(219, 30%, 18%);
    align-items: center;
    padding:  0;
    }
    .hero img{
      width: 50%;
    }
  .hero_text {
    text-align: center;
    background-image: url("./images/bg-curvy-mobile.svg");
    background-position: center;
    background-size: 100% ;
    background-repeat: no-repeat;
    width: 292px;
    min-width: 55vh;
    margin-top: 5px;
   
  }
  .text {
    font-size: 16px;
  }
  .text2 {
    font-size: 10px;
  
  }
  .product {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
  .product_details_card{
    width: 100%;
    margin-bottom: 40px;
  }
  .search {
   
    padding: 90px 24px;
    width: 94%;
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
     bottom: -23px;
   }
   .inputs {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-top: 20px;
   } 
  footer{
    background-color: hsl(216, 53%, 9%);
    padding: 81px 80px 49px 17px;;
    display: flex;
    flex-direction: column;
    color: hsl(0, 0%, 100%);
  }
  .footer-logo{
    width: 120%;
    
  }
  .footer-location{
    display: flex;
    margin-top: 20px;
    width: 50%;
  }
  .footer-contact{
    margin-top: 40px;
    margin-left: 0px;
    width: 80%;
  }
  .footer-links {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-top: 60px;
    margin-left: 0px;
  }
  .footer-more-links {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-top: 40px;
    margin-left: 0px;
  }
}